<form method="post">
    <h1>@ViewBag.Message</h1>
    <div class="col" width="40%">
        <a asp-controller="ClientBonusCard" asp-action="ManagePage" class="btn btn-danger">Good!</a>
    </div>
</form>
